body {
    background-color: aqua;
    color: #333;
    font-family: Arial, sans-serif;
}

h1,
h2
 {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #555;
    text-align: center;
    font-size: 18pt;
    margin: 0px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#experienceSection p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-style: italic;
}

#experienceSection h2 {
    color: 555;
    font-size: 18pt;
    margin: 0px;
}

#skillsSection ul li{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
}

#skillsSection h2 {
    color: 555;
    font-size: 18pt;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
}

form {
    margin: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    font-size: 16px;
    color: green;
}

input[type="text"],
input[type="email"],
textarea {
    width: 95%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    font-size: 14pt;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: greenyellow;
    color: black;
}

#messages ul li{
    margin: 10px 0;
    padding: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative;
}

#removeButton{
    background-color: red;
    color: white;
    border-radius: 10px;
    font-size: 10pt;
    border: none;
    padding: 5px 10px;
    position: absolute;
    top: 7px;
    right: 5px;
    cursor: pointer;

}
footer {
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    section {
        margin: 10px 0;
        padding: 10px;
    }
}